<form name="saveform" class="row" uib-collapse="subjects.formCollapsed" ng-submit="subjects.saveEntity()">
    <div class="col-md-8">
    <div class="col-md-6">
        <input class="form-control" name="subjectname" type="text" ng-model="subjects.subject.subject_name"
               placeholder="Введіть назву предмету..."  ng-minlength="3" ng-maxlength="100" required>
    </div>
    <div class="col-md-6">
        <input class="form-control" name="subjectdesc" type="text" ng-model="subjects.subject.subject_description"
               placeholder="Введіть опис предмету..."  ng-minlength="3" required>
    </div>
    </div>

    <div class="col-md-4 pull-right">
        <button type="submit" class="btn btn-success" ng-disabled="saveform.$invalid"
                title="Зберегти предмет">
            <i class="glyphicon glyphicon-floppy-saved"></i>
        </button>
        <button type="reset" class="btn btn-danger" title="Відмінити" ng-click="tests.hideForm()">
            <i class="glyphicon glyphicon-floppy-remove"></i>
        </button>
        <span  ng-show="addform.subjectname.$error.maxlength">Max length 100 symbols!</span>
        <span  ng-show="subjects.allowSubmit(subjects.newSubject)">Min length for all fields 3 symbols!</span>
    </div>
</form>