<form name="editform" class="row" uib-collapse="subjects.editFormCollapsed" ng-submit="subjects.editSubject()">
    <div class="col-md-6 pull-right">
        <button type="submit" class="btn btn-success" ng-disabled="subjects.allowAddEdit(subjects.editModel)"
                title="Зберегти зміни">
            <i class="glyphicon glyphicon-floppy-saved"></i>
        </button>
        <a class="btn btn-danger" title="Відмінити редагувння" ng-click="subjects.editFormCollapsed = !subjects.editFormCollapsed">
            <i class="glyphicon glyphicon-floppy-remove"></i>
        </a>
        <span  ng-show="editform.subjectname.$error.maxlength">Max length 100 symbols!</span>
        <span  ng-show="subjects.allowAddEdit(subjects.editModel)">Min length for all fields 3 symbols!</span>
    </div>
    <div class="col-md-3 ">
        <input class="form-control" name="subjectname" type="text" ng-model="subjects.editModel.subject_name"
               ng-minlength="3" ng-maxlength="100" required>
    </div>
    <div class="col-md-3">
        <input class="form-control" name="subjectdesc" type="text" ng-model="subjects.editModel.subject_description"
               ng-minlength="3" required>
    </div>
</form>