<div class="modal-header">
    <h3 class="modal-title">{{ adminSave.kindOfSave }}</h3>
</div>
<form name="saveForm" ng-submit="adminSave.save()">
    <div class="modal-body">
        <input type="text" class="form-control" name="username" placeholder="login" ng-model="adminSave.admin.username" required>
        <input type="email" class="form-control" name="email"  placeholder="e-mail" ng-model="adminSave.admin.email" required>
        <input type="password" class="form-control" name="newPassword" ng-model="adminSave.newPassword" placeholder="введіть новий пароль" required>
        <input type="password" class="form-control" name="confirmPassword" ng-model="adminSave.confirmPassword" placeholder="підтвердіть новий пароль" required>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" title="Зберегти" ng-disabled="false">
            <i class="glyphicon glyphicon-floppy-saved"></i>
        </button>
        <button type="reset" class="btn btn-danger" title="Відмінити" ng-click="adminSave.cancel()">
            <i class="glyphicon glyphicon-floppy-remove"></i>
        </button>
    </div>
</form>