<form name="editform" class="row" uib-collapse="tests.editFormCollapsed" ng-submit="tests.editTest()">
    <div class="col-md-3 pull-right">
        <button type="submit" class="btn btn-success" ng-disabled="tests.allowAddEdit(tests.currentTest)"
                title="Зберегти тест">
            <i class="glyphicon glyphicon-floppy-saved"></i>
        </button>
        <button type="reset" class="btn btn-danger" title="Відмінити" ng-click="tests.showAddForm()">
            <i class="glyphicon glyphicon-floppy-remove"></i>
        </button>
        <span  ng-show="addform.testname.$error.maxlength">Max length 100 symbols!</span>
        <span  ng-show="tests.allowAddEdit(tests.currentTest)">All fields are required</span>
    </div>
    <div class="col-md-9">
        <div class="col-md-4">
            <input class="form-control" name="testname" type="text" ng-model="tests.currentTest.test_name"
                   placeholder="Назва тесту"  ng-minlength="3" ng-maxlength="100" required>
        </div>
        <div class="col-md-2">
            <input class="form-control" name="tasks" type="number" ng-model="tests.currentTest.tasks"
                   placeholder="Завдань" min="1" required>
        </div>
        <div class="col-md-2">
            <input class="form-control" name="attempts" type="number" ng-model="tests.currentTest.attempts"
                   placeholder="Спроб" min="1" max="100" required>
        </div>
        <div class="col-md-2">
            <input class="form-control" name="time_for_test" type="number" ng-model="tests.currentTest.time_for_test"
                   placeholder="Час, хв" min="1" required>
        </div>
        <div class="col-md-2">
            <select class="form-control" name="status" type="text" ng-model="tests.currentTest.enabled"
                    required>
                <option value="" disabled selected>Статус</option>
                <option value="0">Недоступно</option>
                <option value="1">Доступно</option>
            </select>
        </div>
    </div>
</form>