table.scroll {
    width: 100%;
    border-spacing: 0;
}

table.scroll th,
table.scroll td,
table.scroll tr,
table.scroll thead,
table.scroll tbody { display: block;}

table.scroll tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

table.scroll tbody {
    height: 52vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.small-space {
    width: 4%;
    float:left;
}

.large-space {
    width: 36%;
    float: left;
}

.medium-space {
    width: 12%;
    float: left;
}

.groups-container .glyphicon {
    display: inline-block;
}

.groups-container span .btn-success {
    float: right;
    padding-left: 30px;
    padding-right: 30px;
}

.groups-container .form-control {
    margin-bottom: 7px;
}

.groups-container .btn-act {
    margin: 55px;
    min-width: 40px;
}

.groups-container .btns-act {
    border: 1px solid black;
    padding-top: 11px;
    text-align: center
}

.groups-container .btn-md {
    padding: 5px;
    width: 200px;
    margin: 3px;
}
