<div class="panel panel-primary questions">
    <div class="panel-heading">
        <div class="row">
            <h3 class="col-xs-12 col-sm-3 title">Завдання</h3>
            <div class="col-xs-12 col-sm-9 pull-right">
                <div class="col-xs-2 col-sm-1 pull-right">
                    <button class="btn btn-success" ng-click="questions.showSaveForm()" title="Додати завдання">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <div class="col-xs-9 col-sm-8 pull-right">
                    <input class="form-control" type="text" ng-model="search" placeholder="Пошук...">
                </div>
            </div>
        </div>
        <div ng-include="'app/admin/subjects/tests/questions/save-question.html'" ></div>
    </div>

    <div class="panel-body">
        <p ng-hide="questions.questionsList.length">Завдань немає</p>
        <table ng-show="questions.questionsList.length" class="table table-striped table-condensed">
            <tbody>
                <thead>
                    <tr>
                        <th class="clip" class="header" ng-repeat="headerElement in questions.headElements">
                            {{::headerElement}}
                        </th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
            <tbody>
            <tr ng-class-odd="'odd'" ng-repeat="question in questions.questionsList | orderBy:'text' | filter: search">
                <td class="clip">{{::question.question_text}}</td>
                <td class="clip">{{::question.level}}</td>
                <td class="clip">{{::question.type}}</td>
                <td class="clip">
                    <button class="btn btn-info" title="Варіанти відповідей"
                            ui-sref="admin.answer({subject_id: questions.subject_id, test_id: question.test_id,
                            question_id: question.question_id})">
                        <i class="fa fa-list-ol"></i>
                    </button>
                </td>
                <td class="clip">
                    <button class="btn btn-warning" ng-click="questions.showSaveForm(question)" title="Редагувати завдання">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </button>
                    <button class="btn btn-danger" ng-click="questions.removeQuestion(question)" title="Видалити завдання">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <uib-pagination ng-show="questions.showPagination" total-items="questions.quantityQuestions"
                        ng-change="questions.pageChanged()" ng-model="questions.currentPage" max-size="questions.maxSize"
                        class="pagination-sm" boundary-link-numbers="true" rotate="false"></uib-pagination>
    </div>
</div>