<div class="container">
    <h3>Спеціальності</h3>
    <button ui-sref="admin.addSpeciality" type="button" class="btn btn-success" aria-label="Додати спеціальність">
        <span class="glyphicon glyphicon-plus"></span>
        <span>Додати</span>
    </button>
    <label id="search">Пошук <input placeholder="Назва" ng-model="specialities.search.name"></label>
    <br/><br/>
    <table class="table table-striped scroll">
        <tr>
            <th>№</th>
            <th>Назва</th>
            <th>Код</th>
            <th>Дії</th>
        </tr>
        <tr ng-repeat="speciality in specialities.specialitiesList | filter: specialities.search | orderBy: 'code'">
            <td>{{$index + 1}}</td>
            <td>{{speciality.name}}</td>
            <td>{{speciality.code}}</td>
            <td>
                <i ui-sref="admin.editSpeciality({speciality_id: speciality.id})" class="glyphicon glyphicon-pencil"
                   aria-label="Редагувати" title="Змінити '{{speciality.name}}'"></i>
                <i ng-click="specialities.deleteSpeciality(speciality.id)" type="button" class="glyphicon glyphicon-trash"
                   aria-label="Видалити" title="Видалити '{{speciality.name}}'"></i>
            </td>
        </tr>
    </table>
</div>





