<form name="saveForm" class="row" uib-collapse="answer.formCollapsed" ng-submit="answer.saveAnswer()">
    <div class="col-md-3">
                    <span class="btn btn-info btn-file">
                        <i class="glyphicon glyphicon-picture"></i> Вибрати
                        <input type="file" image-load="answer.image"/>
                    </span>
        <img ng-show="answer.image" ng-src="{{answer.image}}" class="img-responsive img-thumbnail"
             width="100" height="50" alt="Зображення">
    </div>

    <div class="col-md-7">
        <div class="col-md-8">
                    <textarea rows="3" class="form-control" name="answerText" ng-model="answer.answerItem.answer_text"
                              placeholder="Введіть варіант відповіді..." ng-minlength="5" required>
                    </textarea>
        </div>
        <div class="col-md-4">
            <select class="form-control" ng-model="answer.answerItem.true_answer"
                    ng-options="trueAnswer.value as trueAnswer.name disable when trueAnswer.disabled for trueAnswer in answer.trueAnswers" required>
                <option value="" disabled>Правильність</option>
            </select>
        </div>
    </div>
    <div class="col-md-2 pull-right">
        <button type="submit" class="btn btn-success" title="Зберегти" ng-disabled="saveForm.$invalid">
            <i class="glyphicon glyphicon-floppy-saved"></i>
        </button>
        <button type="reset" class="btn btn-danger" title="Відмінити" ng-click="answer.hideForm()">
            <i class="glyphicon glyphicon-floppy-remove"></i>
        </button>
    </div>
</form>