<div class="my-app-name-container panel panel-primary students">
    <div class="panel-heading">
        <h1 ng-if="student.addElements">Реєстрація нового студента</h1>
        <h1 ng-if="student.showElements">Студент {{student.newStudent.student_name}} {{student.newStudent.student_surname}}</h1>
        <h1 ng-if="student.editElements">Редагування інформації студента</h1>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="image">Обрати фото студента</label>
                    <input id="image" ng-model="student.newStudent.photo" type="file" onchange="previewFile()">
                    <img src="" height="100" alt="Image preview" >
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <label for="PIB">ПІБ</label>
                    <div class="form-group">
                        <input ng-disabled="student.disableInputs" id="PIB" class="form-control" type="text" ng-model="student.newStudent.student_name" placeholder="імя">
                    </div>
                    <div class="form-group">
                        <input ng-disabled="student.disableInputs" class="form-control" type="text" ng-model="student.newStudent.student_surname" placeholder="прівзище">
                    </div>
                    <div class="form-group">
                        <input  ng-disabled="student.disableInputs" class="form-control" type="text" ng-model="student.newStudent.student_fname" placeholder="по-бітькові">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">

                <div class="form-group">
                    <label for="group">Група</label>
                    <select ng-options="group.group_id as group.group_name for group in student.groups" ng-disabled="student.disableInputs" ng-model="student.newStudent.group_id" class="form-control" id="group">
                    </select>
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <div class="input-group">
                        <input ng-disabled="student.disableInputs" id="password" name="password" class="form-control" ng-model="student.newStudent.plain_password" placeholder="пароль">
                        <span class="input-group-btn">
                        <button ng-disabled="student.disableInputs" type="button" class="form-control" ng-click="student.getRandomPas()">Згенерувати пароль</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">

                <div ng-if="student.additionalInputs">
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input id="email" class="form-control" type="text" ng-model="student.newStudent.email" placeholder="email">
                    </div>
                    <div class="form-group">
                        <label for="login">Нікнейм студента</label>
                        <input id="login" class="form-control" type="text" ng-model="student.newStudent.username" placeholder="e.x. olexandr20">
                    </div>
                </div>


                <div class="form-group">
                    <label for="gradebook_id">Номер залікової книжки</label>
                    <input ng-disabled="student.disableInputs" id="gradebook_id" class="form-control" type="text" ng-model="student.newStudent.gradebook_id" placeholder="номер залікової книжки">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 pull-right">
            <div>
                <button ui-sref="admin.student({group_id: student.group_id, content_type: 'edit', student_id: student.student_id})" ng-if="student.showElements" class="btn btn-primary pull-right"
                        ng-click="student.editFormAppear()"
                        title="повернутись">Редагувати студента</button>
            </div>
            <div>
                <button ng-if="student.editElements" id="submit1" class="btn btn-success pull-right" ng-click="student.editStudent()" title="Додати студента">Зберегти зміни</button>
            </div>
            <div>
                <button ng-if="student.addElements" id="submit" class="btn btn-success pull-right" ng-click="student.addNewStudent()" title="Додати студента">Зберегти</button>
            </div>
            <div>
                <button ng-if="student.editElements" class="btn btn-danger pull-right" ui-sref="admin.students({group_id: student.group_id})" title="повернутись">Скасувати</button>
            </div>
            <div>
                <button ng-if="student.addElements" class="btn btn-danger pull-right" ui-sref="admin.students({group_id: student.group_id})" title="повернутись">Скасувати</button>
            </div>
            <div>
                <button ng-if="student.showElements" class="btn btn-primary pull-right" ui-sref="admin.students({group_id: student.group_id})" title="повернутись">Повернутись до списку студентів</button>
            </div>
        </div>
    </div>
</div>