<div class="my-app-name-container panel panel-primary students">
    <div class="panel-heading">
        <h1 ng-if="student.addElements">Реєстрація нового студента</h1>
        <h1 ng-if="student.showElements">Студент {{student.newStudent.student_name}} {{student.newStudent.student_surname}}</h1>
        <h1 ng-if="student.editElements">Редагування інформації студента</h1>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label ng-if="student.editAndAddElement"  for="picture">Обрати фото</label>
                    <input ng-if="student.editAndAddElement" id="picture" ng-model="student.newStudent.photo" type="file" onchange="previewFile()"/>
                    <input ng-if="student.addElements" id="image" image-load="student.newStudent.photo" type="file"/>
                    <img ng-src="{{student.newStudent.photo}}" height="250" width="250" alt="Зображення" >
                </div>
            </div>
            <div class="col-xs-12 col-md-8">
                <div>
                    <label for="PIB">ПІБ</label>
                    <div class="form-group">
                        <input ng-disabled="student.disableInputs" id="PIB" class="form-control" type="text" ng-model="student.newStudent.student_name" placeholder="імя"/>
                    </div>
                    <div class="form-group">
                        <input ng-disabled="student.disableInputs" class="form-control" type="text" ng-model="student.newStudent.student_surname" placeholder="прівзище"/>
                    </div>
                    <div class="form-group">
                        <input  ng-disabled="student.disableInputs" class="form-control" type="text" ng-model="student.newStudent.student_fname" placeholder="по-бітькові"/>
                    </div>

                </div>
                <div class="form-group">
                    <label for="group">Група</label>
                    <select ng-options="group.group_id as group.group_name for group in student.groups" ng-disabled="student.disableInputs" ng-model="student.newStudent.group_id" class="form-control" id="group">
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <div class="input-group">
                        <input ng-disabled="student.disableInputs" id="password" name="password" class="form-control" ng-model="student.newStudent.plain_password" placeholder="пароль"/>
                        <span class="input-group-btn">
                        <button ng-disabled="student.disableInputs" type="button" class="form-control" ng-click="student.getRandomPas()">Згенерувати пароль</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    <label for="gradebook_id">Номер залікової книжки</label>
                    <input ng-disabled="student.disableInputs" id="gradebook_id" class="form-control" type="text" ng-model="student.newStudent.gradebook_id" placeholder="номер залікової книжки"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div ng-if="student.additionalInputs" class="form-group">
                    <label for="email">E-mail</label>
                    <input id="email" class="form-control" type="text" ng-model="student.newStudent.email" placeholder="email"/>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div ng-if="student.additionalInputs" class="form-group">
                    <label for="login">Нікнейм студента</label>
                    <input id="login" class="form-control" type="text" ng-model="student.newStudent.username" placeholder="e.x. olexandr20"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div>
                    <button type="button"  ui-sref="admin.student({group_id: student.group_id, content_type: 'edit', student_id: student.student_id})" ng-if="student.showElements" class="btn btn-info pull-right"
                            ng-click="student.editFormAppear()">Редагувати</button>
                </div>
                <div>
                    <button type="button" ng-if="student.editElements" id="submit1" class="btn btn-success pull-right" ng-click="student.editStudent()" ui-sref="admin.student({group_id: student.group_id, content_type: 'show', student_id: student.student_id})">Зберегти зміни</button>
                </div>
                <div>
                    <button type="button" ng-if="student.addElements" id="submit" class="btn btn-success pull-right" ng-click="student.addNewStudent()">Зберегти</button>
                </div>
                <div>
                    <button type="button" ng-if="student.editElements" class="btn btn-danger pull-right" ui-sref="admin.student({group_id: student.group_id, content_type: 'show', student_id: student.student_id})">Скасувати</button>
                </div>
                <div>
                    <button type="button" ng-if="student.addElements" class="btn btn-danger pull-right" ui-sref="admin.students({group_id: student.group_id})">Скасувати</button>
                </div>
                <div>
                    <button type="button" ng-if="student.showElements" class="btn btn-info pull-right" ui-sref="admin.students({group_id: student.group_id})">Повернутись до списку студентів</button>
                </div>
            </div>
        </div>
    </div>
</div>